#Data Science Tools and Ecosystem

This notebook explores various tools and techniques used in the
field of Data Science. It includes commonly used languages, libraries,
tools, and some basic arithmetic operations using Python.

## Commonly Used Data Science Languages

1. Python  
2. R  
3. SQL  
4. Julia  
5. Scala

## Popular Data Science Libraries:

1. Pandas  
2. NumPy  
3. Matplotlib  
4. Scikit-learn  
5. TensorFlow

## Data Science Tools

| Tool Name     | Description              |
|---------------|--------------------------|
| Jupyter       | Interactive notebook     |
| RStudio       | IDE for R                |
| Apache Spark  | Big data processing      |
| Tableau       | Data visualization tool  |

Below are examples of simple arithmetic expressions using Python.

In [1]:
# This code multiplies 3 by 4 and then adds 5
result = (3 * 4) + 5
print("The result of (3 * 4) + 5 is:", result)

17

In [ ]:
# This code converts 200 minutes into hours by dividing by 60
minutes = 200
hours = minutes / 60
print("200 minutes in hours is:", hours)

## Objectives

- Learn about different languages used in Data Science  
- Identify common tools and libraries  
- Understand basic operations using Python  
- Practice with Markdown and code cells

**Author:** ixahh